go 1.26.0

use (
	./pipeline/beru
	./pipeline/egress-relay-rabbitmq
	./pipeline/igrises/igris-http
	./pipeline/igrises/igris-rabbitmq
	./pipeline/kaisel
	./pipeline/monarch
	./pipeline/pkg/monarchpb
	./pipeline/pkg/sample
	./pipeline/pkg/s3utils
	./pipeline/pkg/trace
	./pipeline/pkg/replay
	./pipeline/shadow-soldier
	./pipeline/shop
	./pipeline/tusk
	./testing/example-apps/db-test-app
)
