go 1.26.0

use (
	./pipeline/beru
	./pipeline/egress-relay-rabbitmq
	./pipeline/igrises/igris-http
	./pipeline/igrises/igris-rabbitmq
	./pipeline/kaisel
	./pipeline/monarch
	./pipeline/pkg/sample
	./pipeline/shadow-soldier
	./pipeline/shop
	./testing/example-apps/db-test-app
)
